@model GetManufacturerDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Manufacturer</h4>
    <hr />
    <h5>
        @Html.DisplayFor(model => model.Name)
    </h5>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Model</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Models.Count; i++)
            {
                if (i % 2 != 0)
                {
                    <tr class="table-active">
                        <th scope="row">@(i+1)</th>
                        <td>@Model.Models[i].Name</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <th scope="row">@(i+1)</th>
                        <td>@Model.Models[i].Name</td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Back to list</a>
</div>