@model GetManufacturerDTO

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<div class="container text-center">
    <div class="col-md-12 p-0">
        <h3>
            @Html.DisplayFor(model => model.Name)
        </h3>
        <table class="table text-black">
            <thead>
                <tr>
                    <th class="pl-5">#</th>
                    <th>Model</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Models.Count; i++)
                {
                    if (i % 2 != 0)
                    {
                        <tr class="table-active">
                            <th class="pl-5" scope="row">@(i+1)</th>
                            <td>@Model.Models[i].Name</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th class="pl-5" scope="row">@(i+1)</th>
                            <td>@Model.Models[i].Name</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
