@model PaginatedList<GetServiceDTO>

<table class="table table-dark">
    <thead>
        <tr style="line-height: 3px;" class="active">
            <th scope="row">
                <p style="width: 50px">#</p>
            </th>
            <th>
                <p>Name</p>
            </th>
            <th>
                <p>Price</p>
            </th>

            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
            {
                <th>
                    <a class="btn btn-outline-success" asp-action="Create" role="button">Create</a>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1 + (Model.PageIndex - 1) * Model.PageSize;

            foreach (var item in Model.ItemsCollection)
            {
                if (count % 2 != 0)
                {
                    <tr style="line-height: 37px;" class="table-active">
                        <th scope="row">
                            @count
                        </th>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)EUR</td>

                        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                        {
                            <td>
                                <a asp-action="Edit" class="btn btn-outline-warning" asp-route-id="@item.Id">Edit</a>
                                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Delete</a>
                            </td>
                        }
                    </tr>
                }
                else
                {
                    <tr style="line-height: 37px;">
                        <th scope="row">
                            @count
                        </th>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)EUR</td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                        {
                            <td>
                                <a asp-action="Edit" class="btn btn-outline-warning" asp-route-id="@item.Id">Edit</a>
                                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Delete</a>
                            </td>
                        }

                    </tr>
                }
                count++;
            }
        }
    </tbody>
</table>