@model GetUserDTO

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-image: url('https://localhost:5001/images/Vehicles.jpg')">
	<div class="container-fluid table-dark mt-3" style="border:10px solid #212529; width:700px">

		<h3 class="mt-3 mb-0">Customer</h3>
		<div>
			<div class="container mt-4 col-10"></div>
			<div class="table-dark" style="border-top:3px solid #212529" id="">
				<dl>
					<dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
					<dd>@Html.DisplayFor(model => model.FirstName)</dd>

					<dt> @Html.DisplayNameFor(model => model.LastName)</dt>
					<dd>@Html.DisplayFor(model => model.LastName)</dd>

					<dt>@Html.DisplayNameFor(model => model.UserName)</dt>
					<dd>@Html.DisplayFor(model => model.UserName)</dd>

					<dt> @Html.DisplayNameFor(model => model.Email)</dt>
					<dd>@Html.DisplayFor(model => model.Email)</dd>

					<dt> @Html.DisplayNameFor(model => model.PhoneNumber)</dt>
					<dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>

					<dt> @Html.DisplayNameFor(model => model.Age)</dt>
					<dd>@Html.DisplayFor(model => model.Age)</dd>

					<dt> @Html.DisplayNameFor(model => model.DrivingLicenseNumber)</dt>
					<dd>@Html.DisplayFor(model => model.DrivingLicenseNumber)</dd>

					<dt> @Html.DisplayNameFor(model => model.Address)</dt>
					<dd>@Html.DisplayFor(model => model.Address)</dd>
				</dl>
			</div>
			<div class="container-fluid p-0">
				<a class="btn btn-primary dropright" style="margin-bottom:10px;" asp-action="Index">Back to list</a>
			</div>
		</div>

	</div>
</body>





