@model ServiceOrderViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery AntiForgery


<style>
	tbody {
		flex: 1 1 auto;
		display: block;
		overflow-y: auto;
		overflow-x: hidden;
	}

	tr {
		width: 100%;
		display: table;
		table-layout: fixed;
	}
</style>
<div class="container col-md-5 mt-md-5" enctype="multipart/form-data" asp-action="EditServices">
	<h4>Order</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-5">
			@Html.DisplayNameFor(model => model.CustomerName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CustomerName)
		</dd>
		<dt class="col-sm-5">
			@Html.DisplayNameFor(model => model.OrderStatus)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.OrderStatus)
		</dd>
		<dt class="col-sm-5">
			@Html.DisplayNameFor(model => model.ArrivalDate)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ArrivalDate)
		</dd>

		<dt class="col-sm-5">
			@Html.DisplayNameFor(model => model.VehicleNumberPlate)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.VehicleNumberPlate)
		</dd>
	</dl>
	<form asp-action="AddServiceToOrder" method="post">
		<div asp-validation-summary="ModelOnly" class="text-danger" id="create"></div>
		<div>
			<label asp-for="AvailableServices">Available Services:</label>
		</div>
		<div class="form-group">
			<select asp-for="AvailableServiceId" asp-items="Model.AvailableServices.ToSelectList()" class="form-control" id="Make"></select>
			<span asp-validation-for="AvailableServiceId" class="text-danger"></span>
		</div>
		<div class="form-group ">			
			<input type="hidden" asp-for="OrderId" class="form-control" />
			<span asp-validation-for="OrderId" class="text-danger"></span>
		</div>
		<div class="form-group">
			<input type="submit" value="Add" class="btn btn-primary btn-block" />
		</div>
	</form>
	<table class="table table-dark table-hover text-white table-responsive">
		<thead>
			<tr class="active" style="line-height: 3px;">
				<th>
					<p>Description</p>
				</th>
				<th>
					<p>Price</p>
				</th>				
			</tr>
		</thead>
		
			<tbody style="height: 350px;overflow-y: scroll;width:auto" >
				@{ int count = 1;

					foreach (var item in Model.UsedServices)
					{
						<tr class="table-active">
							<td class="w-25">@count</td>
							<td>@item.Name</td>
							<td>@Math.Round(item.Price, 2) Euro</td>
							<td>								
									<a class="btn btn-danger text-white-50" asp-controller="Order" asp-action="DeleteService">Delete</a>							
							</td>
						</tr>
						count++;
					}
				}
			</tbody>
		</table>


</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script>

		$("#create").validate({
			submitHandler: function (form) {
				form.submit();
			}
		});
	</script>
}
